# Ignore CodeVisionAVR build folders and artifacts
Debug/
Release/
*.cof
*.cwp
*.cci
*.fct
*.atsln
*~

# Ignore compiled binaries and assembly
*.hex
*.rom
*.obj
*.o
*.al
*.ol
*.asm
*.lst
*.map
*.sym*

# Ignore Proteus backups and workspaces
*.pdsbak
*.workspace
